.active {
  background-color: rgb(12, 55, 57);
  color: aliceblue;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.inactive {
  background-color: aliceblue;
  color: rgb(7, 39, 40);
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}
